.h5p-standard-page {
  padding: 0.5em 1em;
}

.h5p-standard-page .standard-page-title {
  padding: 0.5em 0;
  font-size: 18px;
  border-bottom: 1px solid #E5E5E5;
}

.h5p-standard-page .standard-page-help-text {
  float: right;
  color: #85B1E3;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 3.5em;
}
